<div class="pt-2 px-lg-5 mx-lg-5 px-sm-2">
  <h1 style="font-size: 64px;" class="fw-bolder">
    Accessories
  </h1>
</div>
<div class="pt-4">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Washing and drying</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dishwashing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cooking and baking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cooling and freezing</a>
    </li>
  </ul>

  <div class="text-center px-2 w-100 overflow-hidden">
    <img src="assets/merchandise.png" width="95%"/>
  </div>
</div>
